version: '3'

services:
  db:
    container_name: wordpress-mysql
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp-user
      MYSQL_PASSWORD: 123

  wordpress:
    container_name: wordpress-app
    depends_on:
      - db
    image: wordpress:latest
    ports:
     - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wp-user
      WORDPRESS_DB_PASSWORD: 123
    volumes:
      - ~/www/wordpress:/var/www/html
volumes:
  db_data:
